* {
    box-sizing: border-box;
}

.myFlexBoxRow {
    display: flex;
    flex-wrap: wrap;
}

.myFlexBoxColumn {
    flex: 16.5%;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .myFlexBoxRow {
        flex-direction: column;
    }
}

body {
    background-color: rosybrown;
}
h1 {
    background-color: bisque;
    padding: 0.5em;
}