body {
    background-color: lavenderblush;
}

h1 {
    color: black;
    text-align: center;
    margin-right: 30px;
}

button {
    font-size: 10px;
    color: plum;
}

p {
    color: purple;
    margin-right: 20px;
}